.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  --main-background-color: #3a3b3c; /* Main background color */
  --banner-color: #30854f; /* Dark Green for the header */
  --inner-panel-color: #FEFEFE; /* Inner Panel for the charts */
  --navbar-color: #5c5d5d; /* Navigation Bar */
  --accent-color: #1DB954; /* Spotify green accent colors for buttons and text borders etc */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
